h5py
matplotlib
numpy<2
ipywidgets
nbgitpuller
jupytext
seaborn
# vtuinterface:
pandas<2.2
scipy<1.13
lxml
# ogs
# --extra-index-url https://gitlab.opengeosys.org/api/v4/projects/120/packages/pypi/simple
ogs==6.5.3
git+https://github.com/joergbuchwald/heatsource_thm@bbd5bab17fc2ec228c773e087dc847e1ad5f9a4c#egg=heatsource-py
# ogstools:
h5py>=3.8.0
meshio>=5.3.0
pandamesh>=0.1.6
papermill>=2.4.0
Pint>=0.22
tenacity<8.4.0
nbconvert>=7.9.2
typeguard>=4.0.0
# add you own here:
