--extra-index-url https://gitlab.opengeosys.org/api/v4/projects/120/packages/pypi/simple
ogs==6.4.3.post1.dev1024
git+https://github.com/joergbuchwald/ogs6py@0f9e738e2ee469c8bde4204b2151238973417694#egg=ogs6py
git+https://github.com/joergbuchwald/VTUinterface@master#egg=VTUinterface
git+https://github.com/joergbuchwald/heatsource_thm@main#egg=heatsource-py
ogstools==0.0.3
numpy
matplotlib==3.*
seaborn
pandas
pyvista
nbgitpuller
jupytext
